.file-list__download {
  min-height: 32px; 

  color: #4a4a4a;
  cursor: pointer;

  overflow: hidden; 
  text-overflow: ellipsis;
  white-space: nowrap;

  border: none; 
  background-color: transparent; 
}

.file-list__download:hover {
  text-decoration: underline; 
}

.file-list__download:focus-visible {
  outline: 1px dashed #757575; 
  outline-offset: -3px; 
}

.file-list__download svg {
  fill: currentColor; 
  width: 13px;
  height: 13px; 

  margin-right: 7px; 
}